*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    
}
.primary-color{
    color:#FD6E0A ;
}
.banner-add{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;

}
.btn-primary{
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;


}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
/* Banner Section code Below */
.banner{
    margin: 0 100px;
    display: flex;
    align-items: center;
}
.sub-title{
    font-weight: 600;
    font-size: 45px;
}
.main-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
/* Main Section Style */
main{
    
    margin: 0 auto;
    background: #FFF8F3;
 

}

/* About Section Style */
.about{
    margin-top: 130px;
    padding: 0 29px;
    background: white;
    border-radius: 10px;
    background: #FFF8F3;
    border-radius: 10px;
    margin-bottom: 162px;
   
 

}
.section-title{
   text-align: center;
   margin-bottom: 30px;
   
    

}
.section-description{
    font-size: 18px;
    text-align: center;
    margin-bottom: 35px;

}
/* About Info Styles */

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.title-info{
    font-size: 20px;
    color: #757575;

}
.title-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;

}
.what-i-do{
    margin-top: 130px;
    padding: 0 29px;
    border-radius: 10px;
    border-radius: 10px;
    }

.title{
  text-align: center;
  
}
.description{
    text-align: center;
    margin-top: 20px;
}
/* Skills Styles */
.skill-container{
    display: flex;
    gap: 20px;
}
.skill-container-portfolio{
    margin-top: 120px;
    background: rgb(231, 228, 228);
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}
/* Resume Styles */

.resume-content{
    display: flex;
    gap: 20px;
}
.resume-section-title{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;

}
.resume-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.r h4 , h5 ,p{
    margin-top: 20px;
    margin-bottom: 20;
}
.resume{
    margin-left: 20px;
}
.d-cv{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    
    
}
.cv-download{
    background-color: #FD6E0A;
    border: 0;
    padding: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    
    

}
.connect{
    background: #FFF8F3;
    margin-top: 150px;
    display: flex;
    gap: 120px;
}
.text{
    border: 0;
    width: 261px;
    height: 34px;
    padding-left: 10px;
}
.email{
    border: 0;
    width: 261px;
    height: 34px;
    padding-left: 10px;

}
.textarea{
    border: 0;
    padding-top: 20px;
    padding-left: 10px;

}
.btn{
    border: 0;
    color: #FD6E0A;
}
.Sub{
    font-size: 20px;
    background-color: #FD6E0A;
    border: 0;
    width: 100px;
    height: 40px;
    border-radius: 05px;
    color: #FFFFFF;
    
}